APP_PORT=3002
PORT=3001
IMAGE_NAME=ghcr.io/cyrus-ego/findu-frontend
CONTAINER_NAME=findu-frontend

NEXT_PUBLIC_API_URL=http://oc2.lifebow.net:3001/api
NEXT_PUBLIC_SOCKET_URL=http://oc2.lifebow.net:3001
NEXT_PUBLIC_BACKEND_URL=http://oc2.lifebow.net:3001
