APP_PORT=3002
PORT=3001
IMAGE_NAME=ghcr.io/cyrus-ego/findu-frontend
CONTAINER_NAME=findu-frontend

NEXT_PUBLIC_API_URL=https://api.chatvn.online/api
NEXT_PUBLIC_SOCKET_URL=https://api.chatvn.online
NEXT_PUBLIC_BACKEND_URL=https://api.chatvn.online
